@page
@model Razorvagt2.Pages.Users.GetAllUsersModel
@{
	<table>
	@foreach (var item in Model.Users)
	{
		<tr>
			<td>
				@item.ID
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@item.Username
			</td>
			<td>
				@item.Phone
			</td>
			<td>
				@item.EMail
			</td>
			<td>
				@item.Admin
			</td>
			<td><a asp-page="/Users/DeleteUser" asp-route-id="@item.ID">Delete</a></td>
		</tr>
	}
	</table>
}
